@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    margin: 0;
    left: 0;
    top: 0;
    position: relative;
}

body{
    background: url("../IMG/starwarsbg.png");
    background-size: cover;
    background-repeat: no-repeat;
}



#films {
    left: 50px;
    top: 20px;
    font-size: 17px;
    text-align: center;
    font-family: 'Muli', sans-serif;
}

#title {
    color: yellow;
    top: 100px;
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

#opening {
    font-size: 20px;
    color: yellow;
    top: 300px;
    left: 36%;
    width: 30%;
    font-family: 'Muli', sans-serif;
}

.charachters {
    color: yellow;
    width: 30%;
    left: 15%;
    top: 500px;
}

ul{
    list-style-type: none;
    color: yellow;
    width: 30%;
    left: 15%;
    top: 500px;
    font-family: 'Muli', sans-serif;
    height: 100%;
    float: left;
}


